
$bgcolor1: #032341;
.logo {
	position: absolute;
	width: 21.375rem;
	height: 5rem;
	left: 0.6875rem;
	top: 0.6875rem;
	background-color: $bgcolor1;
	display: inline;
	box-sizing: border-box;
    
}
img {
	position: absolute;
	width: 21.375rem;
	height: 5rem;
	left: 0.6875rem;
	top: 0.6875rem;
	background-color: $bgcolor1;
	display: inline;

	box-sizing: border-box;
}
.title {
	position: absolute;
	left: 1rem;
	top: 4.5rem;
	font-family: Mukta Vaani;
	font-style: normal;
	font-weight: normal;
	font-size: 1.5rem;
	line-height: 2.6875rem;
	color: #ffffff;


	width: 300px;
	height: 30px;
	text-align: center;


}
.informationboard {
	position: absolute;
	left: 0rem;
	top: 0rem;
	background: $bgcolor1;
	text-align: left;
	font-family: Mukta Vaani;
	z-index: 1;
	position: absolute;
	width: 400vh;
	height: 150px;


}
.text{
	position:absolute;
	text-align:initial;
	color: $bgcolor1;
	top: 20rem;
	z-index: 1;
	display: center;
	line-height: 2.6875rem;	

}
