.twitter {
    display: inline-block;
    font-family: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 0;
    width: 900px;
}

.twitter p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

.twitter a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}
.twitter img {
    width: 900px;
}

.twitter h1 {
    font-size: xx-large;
    float: right;
    display: inline;
}

blockquote.twitter-tweet a:hover,
blockquote.twitter-tweet a:focus {
    text-decoration: underline;
}

.twitter{
    position: absolute;
    opacity: 1;
    top: 15rem;
    left: 10rem;
    width: 40rem;
    
    color: black;
    float: left;
    z-index: 1;
    margin-top: 1rem;

}
.facebook{
    position: absolute;
    opacity: 1;
    top: 15rem;
    left: 10rem;
    width: 40rem;
    color: white;
    height: 50rem;
    background-color: red;
    float: left;
    z-index: 1;
    margin-top: 1rem;

}