.APIbox {
    font-family: 'Helvetica Neue', Roboto, 'Segoe UI', Calibri, sans-serif;
    line-height: 1rem;
    border-color: #eee #ddd #bbb;
    border-radius: 0.313rem;
    border-style: solid;
    border-width: 0.063rem;
    box-shadow: 0 0.063rem 0.188rem rgba(0, 0, 0, 0.15);
    margin: 10px 5px;

    p {
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.25rem;
    }

    img {
        width: 25rem;
        height: auto;
        position: relative;
    }
    h1 {
        font-size: xx-large;
        text-align: right;
    }
}

.ol {
    height: 20rem;
    width: 70%;
    position: absolute;
    top: 2rem;
    right: 15rem;
}
