
@import "./standard.scss";

.informationboard {
	position: absolute;
	width: 25%;
	height: 140vh;
	left: 0rem;
	top: 0rem;
	background: $bgcolor1;
	text-align: left;
	font-family: $font1;
	z-index: 2;
}
@mixin information-position {
	position: absolute;
	width: 100%;
	font-family: $font1;
	font-style: normal;
	font-weight: normal;
	height: 1.5625rem;
	font-size: 1.625rem;
	line-height: 2.6875rem;
	left: 1rem;
	color: $color1;
	text-align: left;
	
}
.dateinfo {
	@include information-position();
	top: 15rem;
	
}
.lunchinfo {
	
	@include information-position();	
	top: 30rem;

}
.weatherinfo {
	@include information-position();	
	top: 25rem;

}
.clock {
	@include information-position();
	top: 20rem;

}
.logo {
	position: absolute;
	width: 80%;
	height: 5rem;
	left: 0.6875rem;
	top: 0.6875rem;
	background-color: $bgcolor1;
	display: inline;
	box-sizing: border-box;

}
img {
	position: absolute;
	width: 100%;
	height: 5rem;
	left: 0.6875rem;
	top: 0.6875rem;
	background-color: $bgcolor1;
	display: inline;
	
	box-sizing: border-box;
}
.title {
	position: absolute;
	width: 100%;
	height: 2.6875rem;
	left: 2.3125rem;
	top: 4rem;
	font-family: $font1;
	font-style: normal;
	font-weight: normal;
	font-size: 1.625rem;
	line-height: 2.6875rem;
	color: $color1;
}