.informationboard {
	position: absolute;
	width: 25%;
	height: 200vh;
	left: 0rem;
	top: 0rem;
	background: #032341;
	text-align: left;
	font-family: Mukta Vaani;
	z-index: 2;
}
.dateinfo {
	position: absolute;
	height: 1.5625rem;
	top: 15rem;
	font-family: Mukta Vaani;
	font-style: normal;
	font-weight: normal;
	font-size: 1.625rem;
	line-height: 2.6875rem;
	left: 1rem;
	color: #ffffff;
	text-align: left;
}
.lunchinfo {
	position: absolute;
	height: 1.5625rem;
	top: 30rem;
	font-family: Mukta Vaani;
	font-style: normal;
	font-weight: normal;
	font-size: 1.625rem;
	line-height: 2.6875rem;
	left: 1rem;
	color: #ffffff;
	text-align: left;
}
.weatherinfo {
	position: absolute;
	height: 1.5625rem;
	top: 25rem;
	font-family: Mukta Vaani;
	font-style: normal;
	font-weight: normal;
	font-size: 1.625rem;
	line-height: 2.6875rem;
	left: 1rem;
	color: #ffffff;
}
.clock {
	position: absolute;
	width: 19.5rem;
	height: 1.5625rem;
	top: 20rem;
	font-family: Mukta Vaani;
	font-style: normal;
	font-weight: normal;
	font-size: 1.625rem;
	line-height: 2.6875rem;
	left: 1rem;
	color: #ffffff;
	text-align: left;
}
.logo {
	position: absolute;
	width: 21.375rem;
	height: 5rem;
	left: 0.6875rem;
	top: 0.6875rem;
	background-color: #032341;
	display: inline;
	box-sizing: border-box;

}
img {
	position: absolute;
	width: 21.375rem;
	height: 5rem;
	left: 0.6875rem;
	top: 0.6875rem;
	background-color: #032341;
	display: inline;
	
	box-sizing: border-box;
}
.title {
	position: absolute;
	width: 3.5625rem;
	height: 2.6875rem;
	left: 2.3125rem;
	top: 4rem;
	font-family: Mukta Vaani;
	font-style: normal;
	font-weight: normal;
	font-size: 1.625rem;
	line-height: 2.6875rem;
	color: #ffffff;
}