.twitterContainer {
    position: absolute;
    opacity: 1;
    top: 1.25rem;
    left: 10rem;
    width: 25rem;
    
    float: left;
    z-index: 1;
    margin-top: 1rem;
     
  }

 
  .facebookContainer {
      height: 100%;
      width: 60%;
      margin-top: 3rem;
  }

  .facebookEventer {
    height: 100%;
    width: 60%;
    margin-top: 1rem;
   
}

  