$bgcolor1: #032341;

.facebookEventer {
	height: 70%;
	
	margin-top: 1rem;
	h2 {
		margin: 1rem;
		
        
    }
	
}

.place1 {
	
	top: 1rem;
	width: 70%;
	position: absolute;
	
}
.place2 {
	
	width: 70%;
	position: absolute;
	top:1rem;
	right: 25rem;
	


}
.place3 {
	
	width: 70%;
	position: absolute;
	top:28rem;

}
.place4 {
	
	width: 70%;
	position: absolute;
	top:28rem;
	right: 25rem;
	margin-bottom: 1rem;



}

